.container{

    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.registercontainer{

    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;


}
.logincontainer{

    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;


}

.formcontainer{

    background-color: rgb(70, 66, 66);
    text-align: right;
    padding: 1rem;
    border-radius: 10px;


}
.loginformcontainer{

    background-color: rgb(70, 66, 66);
    text-align: right;
    width: 80%;
    padding: 1rem;
    border-radius: 10px;


}
.inputstyle{

    background-color: rgb(255, 187, 0) !important;
    color: gray;
    text-align: right;
    border: soxlid 1px gray;
}